/* You can add global styles to this file, and also import other style files */
section{
    min-height: 100vh;
    background-color: rgb(10, 10, 37);
    padding: 20px 0;
}
.title{
    color: white;
}
.table {
    --bs-table-bg: rgb(10, 10, 37) !important;
    --bs-table-color: white;
}
